h1 {
    font-family: "Inria Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: #585757ea;
    text-align: left; 
}

h1 span {
    font-size: 80px;
    font-weight: bold; 
    color: #ffbf00;
}

hr {
    border: none; 
    border-top: 3px solid #adacace0;
}

.highlight {
    font-weight: bold; 
    color: #ffbf00;
}

.highlight_GDP {
    font-weight: bold; 
    color: #00537a;
}
.highlight_social {
    font-weight: bold; 
    color: #95A5A6;
}
.highlight_life {
    font-weight: bold; 
    color: #a5c357;
}
.highlight_freedom {
    font-weight: bold; 
    color: #ffd358;
}
.highlight_generosity {
    font-weight: bold; 
    color: #68a5d4;
}
.highlight_perception {
    font-weight: bold; 
    color: #ff9c0d;
}

.p1{
    font-family: "Inria Sans", sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    line-height:35px;
    color: #4d4c4c;
    text-align: left; 
}

.p2{
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height:32px;
    color: #4d4c4c;
    text-align: left; 
}  
  
.vega-bind{
    margin-top: 20px;
    font-family: "Inria Sans", sans-serif;
    color: #4d4c4c;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 45px;
}

.title{
    font-family: "Inria Sans", sans-serif;
    font-weight: bold; 
    font-size: 22px;
    letter-spacing: 2px;
    color: #4d4c4c;
    text-align: left;
}

.title1{
    font-family: "Inria Sans", sans-serif;
    font-weight: bold; 
    font-size: 24px;
    letter-spacing: 2px;
    color: #4d4c4c;
    text-align: left;
}

#barchart{
    margin-bottom: 55px;
}

.metadata{
    font-family: "Inria Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: #4d4c4c;
    text-align: left;
    margin-top: 10px;
}
