h1 {
    font-family: "Inria Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: #585757ea;
    text-align: left; 
}

h1 span {
    font-size: 80px;
    font-weight: bold; 
    color: #ffbf00;
}

#total_countries{
    padding-left: 200px;
}

p {
    font-family: "Inria Sans", sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height:35px;
    color: #4d4c4c;
    text-align: left; 
}
.highlight {
    font-weight: bold; 
    color: #ffbf00;
}

.p1{
    font-family: "Inria Sans", sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height:35px;
    color: #4d4c4c;
    text-align: left; 
}

#spaceline {
    height: 20px;
    width: 100%; 
    background-color: transparent; 
    border: none; 
}

#map{
    height: 400px;
    width: 100%;
}

#scatterplot1{
    height: 400px;
    width: 100%;
}